<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"内卷"短视频管理平台</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" color="balck">
    <style type="text/css">
        a {color: black; font-size: large}
        img {
            position: absolute;
            left: 500px;
            top: 200px;
        }
    </style>
</head>
<body background="conment_bg.jpg" style="background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;">
<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li style="margin: 15px 120px"><a></a></li>
                <li style="margin: 15px 10px"><a></a></li>
                <li style="margin: 20px 60px"><a href="../sim/content">目录</a></li>
                <li style="margin: 20px 60px"><a href="../sim/index">用户表</a></li>
                <li style="margin: 20px 60px"><a href="../sim/v_index">短视频表</a></li>
            </ul>
        </div>
    <div class="col-md-2"></div>
</div>

<font color="#660000" size="6" style='position:absolute;left:650px;top:100px'>"内卷"短视频平台</font>

<img src="pic2.jpg">

<!--
    作者：桑忠人 18281160
    时间：2020.11
    描述：本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有！
-->
<div class="footer" align="center">本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有</div>
</body>
</html>