<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 1px solid #ccc;
            padding: 20px;
            position: -ms-device-fixed;
        }
    </style>
</head>
<body>
<form method="post" action="">
{#    action="sim/edit/">#}
    {% csrf_token %}
{#    <input type="hidden" name="ID" value="{{ users.ID }}"/>#}
    <input type="hidden" name="ID" value="{{ users.ID }}">
    <h2 align="left">修改账号{{ users.ID }}用户的信息：</h2>

    <table>
        <tr>
            <th>姓名:</th>
            <td><input align="center" name="user_name" value="{{ users.NAME }}"></td>
        </tr>
        <tr>
            <th>年龄:</th>
            <td><input name="user_age" value="{{ users.AGE }}"/></td>
        </tr>
        <tr>
            <th>粉丝数:</th>
            <td><input name="user_fans" value="{{ users.FANS }}"/></td>
        </tr>
        <tr>
            <th>关注:</th>
            <td><input name="user_follows" value="{{ users.FOLLOWS }}"/></td>
        </tr>
        <tr>
            <th>发布作品数:</th>
            <td><input name="user_pub" value="{{ users.PUBLISHED }}"/></td>
        </tr>
        <tr>
            <th>喜欢:</th>
            <td><input name="user_favorites" value="{{ users.FAVORITES }}"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" href="/sim/index"/>
            </td>
        </tr>
    </table>
</form>
<!--
    作者：桑忠人 18281160
    时间：2020.11
    描述：本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有！
-->
<div id="footer" align="center">本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有</div>
</body>
</html>