<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cli1列表</title>
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1 align="center">users信息表</h1>
<table border="1px" width="100%" style="border-collapse: collapse;">
    <button onclick="window.location.href='../sim/add'">添加用户</button>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SEX</th>
        <th>AGE</th>
        <th>FANS</th>
        <th>FOLLOWS</th>
        <th>PUBLISHED</th>
        <th>FAVORITES</th>
        <th>操作</th>
    </tr>
    {% for user in users %}
        <tr>
{#            <td align="center">{{ forloop.counter }} </td>#}
            <td align="center">{{ user.ID }} </td>
            <td align="center">{{ user.NAME }} </td>
            <td align="center">{{ user.SEX }} </td>
            <td align="center">{{ user.AGE }} </td>
            <td align="center">{{ user.FANS }} </td>
            <td align="center">{{ user.FOLLOWS }} </td>
            <td align="center">{{ user.PUBLISHED }} </td>
            <td align="center">{{ user.FAVORITES }} </td>
            <td align="center">
                <button onclick="window.location.href='../sim/edit/?ID={{ user.ID }}'">
                    编辑
                </button>
                <button onclick="window.location.href='../sim/delete/?ID={{ user.ID }}'">
                    删除
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<!--
    作者：桑忠人 18281160
    时间：2020.11
    描述：本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有！
-->
<div id="footer" align="center">本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有</div>
</body>
</html>