<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>cli1列表</title>
    <style>
        .button {
            background-color: #4CAF50;
            border: 1px;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="row" style="position: -ms-device-fixed; background-color: gainsboro; font-size: 30px; font-family: 华文行楷" id="header-container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li style="margin: 15px 80px"><a></a></li>
                <li style="margin: 15px 10px"><a></a></li>
                <li style="margin: 20px 60px"><a href="/sim/content" name="cont">目录</a></li>
                <li style="margin: 20px 60px"><a href="/sim/index" name="user">用户表</a></li>
                <li style="margin: 20px 60px"><a href="/sim/v_index" name="video">短视频表</a></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
<h1 align="center">users信息表</h1>
<table border="1px" width="100%" style="border-collapse: collapse;" class="table table-striped table-bordered table-hover">
    <button onclick="window.location.href='/sim/add';" style="border-radius: 5px; background-color: chocolate; color: white; font-family: 楷体">添加用户</button>
    <button onclick="window.location.href='/sim/find'" style="border-radius: 5px; background-color: darkblue; color: white; font-family: 楷体">查找用户</button>
    <tr align="center">
        <th>ID</th>
        <th>NAME</th>
        <th>SEX</th>
        <th>AGE</th>
        <th>FANS</th>
        <th>FOLLOWS</th>
        <th>PUBLISHED</th>
        <th>FAVORITES</th>
        <th>操作</th>
    </tr>
    {% for user in users %}
        <tr bgcolor="#dcdcdc">
{#            <td align="center">{{ forloop.counter }} </td>#}
            <td align="center">{{ user.ID }} </td>
            <td align="center">{{ user.NAME }} </td>
            <td align="center">{{ user.SEX }} </td>
            <td align="center">{{ user.AGE }} </td>
            <td align="center">{{ user.FANS }} </td>
            <td align="center">{{ user.FOLLOWS }} </td>
            <td align="center">{{ user.PUBLISHED }} </td>
            <td align="center">{{ user.FAVORITES }} </td>
            <td align="center">
                <button onclick="window.location.href='../edit/?ID={{ user.ID }}'" style="border-radius: 5px; font-family: 楷体">
                    编辑
                </button>
                <button onclick="window.location.href='../delete/?ID={{ user.ID }}'" style="border-radius: 5px; font-family: 楷体">
                    删除
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
{% if message %}
    <script>
        alert('{{ message }}')
    </script>

{% endif %}
<!--
    作者：桑忠人 18281160
    时间：2020.11
    描述：本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有！
-->
<div id="footer" align="center">本server版权为 北京交通大学计算机学院 桑忠人 18281160 所有</div>
</body>
</html>